$white: white;
$lightGray: #F5F5F5;
$mildGray: #D3D3D3;
$darkGray: #FFEC00;
$sideDarkGray: #253141;
$sideLightGray: #2f3e51;
$blue: #38aef0;

$letterLightGray: #999999;
$letterDarkGray: #434A54;

$whiteBorder: 3px solid white;
$blueBorder: 3px solid #38aef0;

$small: 12px;
$middle: 16px
