%li.chat-groups__list
  .chat-group
    = link_to group_messages_path(group.id) do
      .chat-group__name
        %h2
          = group.name
      .chat-group__latest-message
        %p testですこれはテストです
