.chat
  .chat-side
    = render partial: 'layouts/chat_side'
  .chat-main
    .chat-header
      .chat-header__left
        .chat-group-name
          %h2 　
        .chat-group-member
          %span 　
    .chat-body
      %ul.chat-messages
