html {
  height: 100%;
  background-color: $lightGray;
  body {
    height: 100%;
    width: 100%;
    .chat {
      height: 100%;
      .chat-main {
        position: relative;
        float: left;
        margin-left: 300px;
        width: calc(100% - 300px);
        .chat-header {
          @include clearfix();
          position: fixed;
          width: calc(100% - 300px);
          background-color: $white;
          &__left {
            float: left;
            margin: 35px 0 15px 40px;
            .chat-group-name {
              color: #333333;
              font-size: 20px;
            }
            .chat-group-member {
              color: $letterLightGray;
              font-size: $letterSmall;
            }
          }
          &__right {
            a {
              text-decoration: none;
              color: $blue;
            }
            float: right;
            margin: 28px 40px 0 0;
            padding: 0px 20px;
            line-height: 40px;
            color: $blue;
            font-size: $letterSmall;
            border: $blueBorder;
          }
        }
        .chat-body  {
          margin-top: 100px;
          overflow: scroll;
          .chat-messages {
            height: 100%;
            padding: 10px 40px 100px 40px;
            &__list {
              .chat-message {
                height: 100%;
                padding: 20px 0;
                &__name-and-time {
                @include clearfix();
                  .user-name {
                    font-size: $letterMiddle;
                    float: left;
                    color: $letterDarkGray;
                    font-weight: bold;
                  }
                  .time {
                    float: left;
                    margin-left: 10px;
                    line-height: 25px;
                    font-size: $letterSmall;
                    color: $letterLightGray;
                  }
                }
                &__message {
                  padding-top: 10px;
                  font-size: 14px;
                  margin-left: 0px;
                  color: $letterDarkGray;
                }
              }
            }
          }
        }
        .chat-footer {
          @include clearfix;
          position: fixed;
          bottom: 0;
          padding: 20px 40px 20px 40px;
          width: calc(100% - 115px);
          background-color: $mildGray;
          &__left {
            float: left;
            @include clearfix();
            .message-form-area {
              float: left;
              textarea {
                width: calc(100vw - 500px);
                line-height: 50px;
                padding-left:10px;
                border: none;
                font-size: $letterMiddle;
                height: 50px;
              }
            }
            .image_form {
              float: left;
              margin-left: -50px;
              padding: 0px 20px;
              line-height: 50px;
              color: $letterDarkGray;
              .image_form_button {
                display: none;
              }
            }
          }
          &__right {
            float: left;
            margin-left: 15px;
            line-height: 40px;
            .send-button {
              height: 50px;
              width: 100px;
              display: inline-block;
              padding: 12px 20px;
              color: $white;
              background-color: $blue;
              border: 0;
              font-size: $letterMiddle;
            }
          }
        }
      }
    }
  }
}
