.chat-side {
  float: left;
  height: 100vh;
  width: 300px;
  background-color: $sideLightGray;
  .chat-user {
    @include clearfix();
    width: 300px;
    height: 100px;
    position: fixed;
    padding: 35px 20px 40px 20px;
    background-color: $sideDarkGray;
    color: $white;
    &__name {
      float: left;
      color: $white;
      h5 {
        font-size: $letterMiddle;
        font-weight: bold;
      }
    }
    &__actions {
      float: right;
      &__action {
      }
    }
  }
  .chat-groups {
    color: $white;
    background-color: $sideLightGray;
    h2 {
      color: $white;
    }
    &__list {
      .chat-group {
        padding: 30px 20px 40px 20px;
        a {
        text-decoration: none;
        }
        &__name {
          font-color: $white;
          font-size: 15px;
          padding-bottom: 5px;
        }
        &__latest-message {
          font-size: 11px;
          color: $white;
        }
      }
    }
  }
}
